#mainWindow, #keyPathTextView, GtkMessageDialog, #progressBarDialog {
	background-color: #333333;
}
GtkGrid GtkTextView{
	background-color: #444444;
	color: #DDDDDD;
}

*:selected, #keyPathTextView:selected {
  background-color: #BBBBBB;
  color: #333333;
}

GtkGrid GtkButton, GtkMessageDialog GtkButton{
  	background-image: none;
  	border-image: none;
	background-color: #777777;
}
GtkGrid GtkButton:hover GtkLabel, GtkMessageDialog GtkButton:hover GtkLabel{
  	color: #FFFFFF;
  	box-shadow: 0 0 5px #333 outset;
}
GtkGrid GtkButton:active, GtkMessageDialog GtkButton:active{
	background-color: #666666;
	box-shadow: 0 0 5px orange inset;
}
GtkGrid GtkLabel, GtkMessageDialog GtkLabel, #progressBarDialog *{
	color: #DDDDDD;
}
GtkMessageDialog GtkImage{
	border-radius: 30px;
	padding: 0px;
	background-color: #DDDDDD;
}
